* {
    margin: 0;
    padding: 0;
    outline: 0;
    overflow: hidden;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #F89FAD 83%, #DC7F91 83%) no-repeat;
    -webkit-filter: saturate(1.1);
    filter: saturate(1.1);
}
i#line:before {
    content: "";
    position: absolute;
    top: 7vh;
    left: 0;
    right: 0;
    margin: auto;
    width: .2vh;
    height: 1vh;
    background: rgba(0, 0, 0, .2);
}
i#line:after {
    content: "";
    position: absolute;
    top: 12.8vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 30vh;
    height: 30vh;
    border: 1px solid black;
    transform: rotate(45deg);
}
i#pin:before {
    content: "●";
    position: absolute;
    top: 6vh;
    left: 0;
    right: 0;
    width: 2vh;
    height: 1.5vh;
    margin: auto;
    color: black;
    font-size: 3vh;
    line-height: 0.39;
}
i#pin:after {
    content: "";
    position: absolute;
    top: 8vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 1vh;
    height: 1.8vh;
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
}
main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 85vh;
    height: 60vh;
    border: 1px solid black;
    transform: rotate(10deg);
    z-index: 1;
}
.frame {
    position: absolute;
    z-index: 1;
}
.top-f {
    width: 100%;
    border-top: 4vh solid #FFAD59;
    border-left: 4vh solid transparent;
    border-right: 4vh solid transparent;
}
.bottom-f {
    bottom: 0;
    width: 100%;
    border-bottom: 4vh solid #FFAD59;
    border-left: 4vh solid transparent;
    border-right: 4vh solid transparent;
}
.left-f {
    left: 0;
    height: 100%;
    border-top: 4vh solid transparent;
    border-bottom: 4vh solid transparent;
    border-left: 4vh solid #FFAD59;
}
.right-f {
    right: 0;
    height: 100%;
    border-top: 4vh solid transparent;
    border-bottom: 4vh solid transparent;
    border-right: 4vh solid #FFAD59;
}
.painting {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #89D2E2;
    border: 4.089vh solid black;
}
.cloud div {
    position: absolute;
    background: #fbfbfb;
    border-radius: 50%;
    box-shadow: 0 -3px 0 -1px #555, 0 7px 0 -6px #555;
    z-index: 2;
}
.left-c div:nth-child(1) {
    top: 9vh;
    left: 3vh;
    width: 9vh;
    height: 6vh;
    border-left: 2px solid #555;
}
.left-c div:nth-child(2) {
    top: 7vh;
    left: 7vh;
    width: 8vh;
    height: 8vh;
}
.left-c div:nth-child(3) {
    top: 5vh;
    left: 10vh;
    width: 10vh;
    height: 10vh;
}
.left-c div:nth-child(4) {
    top: 8vh;
    left: 14vh;
    width: 8vh;
    height: 7vh;
    z-index: 1;
}
.left-c div:nth-child(5) {
    top: 10vh;
    left: 17vh;
    width: 8vh;
    height: 5vh;
    border-right: 1px solid #555;
    z-index: 0;
}
.right-c div:nth-child(1) {
    top: 11vh;
    right: 3vh;
    width: 10vh;
    height: 4vh;
    border-right: 2px solid #555;
}
.right-c div:nth-child(2) {
    top: 9vh;
    right: 6vh;
    width: 5vh;
    height: 6vh;
}
.right-c div:nth-child(3) {
    top: 6vh;
    right: 9vh;
    width: 12vh;
    height: 9vh;
    z-index: 2;
}
.right-c div:nth-child(4) {
    top: 9vh;
    right: 17vh;
    width: 8vh;
    height: 6vh;
    z-index: 1;
}
.right-c div:nth-child(5) {
    top: 11vh;
    right: 22vh;
    width: 5vh;
    height: 3vh;
    border-left: 1px solid #555;
    z-index: 0;
}
.mast {
    position: absolute;
    top: -16vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1.5vh;
    height: 27vh;
    background: #DD4922;
    border: 1px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.boat {
    position: absolute;
    top: 30.8vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vh;
    height: 40vh;
    background: #DD4922;
    border: 1px solid black;
    transform: perspective(120vh) rotateX(-70deg);
    transform-origin: top;
}
.deck {
    position: absolute;
    top: 12vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vh;
    height: 2.3vh;
    background: #DD4922;
    border: 1px solid black;
}
.sea {
    position: absolute;
    width: 100%;
    height: 10.6vh;
    bottom: 0;
    background: #00A3DB;
    border-top: 1px solid black;
}
.sail, #l, #r {
    position: absolute;
    margin: auto;
    width: 0;
    height: 0;
}
.left-s, #l {
    top: 7vh;
    left: 0;
    right: 17vh;
    border-top: 17.7vh solid transparent;
    border-bottom: 6vh solid transparent;
    border-right: 14vh solid white;
    transform-origin: top right;
    transform: rotate(15deg);
}
/* replace some properties */
i#l {
    top: 6.5vh;
    border-top: 18.3vh solid transparent;
    border-bottom: 6.2vh solid transparent;
    border-right: 14.5vh solid black;
}
.right-s, #r {
    top: 7vh;
    left: 18vh;
    right: 0;
    border-top: 20vh solid transparent;
    border-bottom: 3vh solid transparent;
    border-left: 15vh solid white;
    transform-origin: top left;
    transform: rotate(-8deg);
}
/* replace some properties */
i#r {
    top: 6.5vh;
    border-top: 20.5vh solid transparent;
    border-bottom: 3.2vh solid transparent;
    border-left: 15.4vh solid black;
}
.inner-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 77vh;
    height: 52vh;
    box-shadow: inset 0 .5vh .3vh .6vh rgba(0, 0, 0, .25);
}
.shadow {
    position: absolute;
    top: 8vh;
    bottom: 0;
    left: 2vh;
    right: 0;
    margin: auto;
    width: 85vh;
    height: 60vh;
    background: rgba(0, 0, 0, .28);
    transform: rotate(10deg) skew(3deg, 3deg);
}
main, .shadow { 
    transition: all .15s ease;
}
main:hover {
    transform: rotate(0deg);
    transition: all .5s ease;
}
main:hover ~ .shadow {
    top: 4vh;
    left: 0;
    width: 82vh;
    height: 60vh;
    transform: rotate(0) skew(0);
    transition: all .5s ease;
}